@import '~normalize.css/normalize.css';
@import '~element-ui/lib/theme-chalk/index.css';

html,
body {
  height: 100%;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-variant: tabular-nums;
  min-width: 1200px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e4e4e4;
  border: 1px solid rgba(195, 195, 195, .4);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

#app {
  height: 100% ;
  min-width: 1000px;
}

.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled){
  box-shadow: none;
}
.el-checkbox__inner::after{
  transition: none;
}
.center-dialog{
  display: flex;
  justify-content: center;
  align-items: center;

  .el-dialog{
    margin: 0;
    margin-top: 0 !important;
  }
}
